

.paddingP {
	padding-right: 20px;
}

#navigation {
	display: inline-block;
	vertical-align: middle;
	float: right;
	padding-right: 50px;
	padding-top: 50px;
}

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}